extends layout
block content
    h1= title
    if (toShow == null)
     h2 No instance to delete
    else
     - let kite_id = toShow._id
     - let kite_color = toShow.kite_color
     - let kite_quality = toShow.kite_quality
     - let kite_cost = toShow.kite_cost
     - let actionid = "/resource/kite/" + kite_id
     script let actionid = "#{actionid}"
     div
        div.row
            div(class='kiteAttr mr-3') kite id is:
            div #{kite_id}
        div.row
            div(class='kiteAttr mr-3') kite_color is:
            div #{kite_color}
        div.row
            div(class='kiteAttr mr-3') kite quality is:
            div #{kite_quality}
        div.row
            div(class='kiteAttr mr-3') kite cost is:
            div #{kite_cost}
     button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
     button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/kite'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/kite'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
     }